/* Palette: https://colorhunt.co/palette/040d12183d3d5c837493b1a6 */

:root {
    --darkest: #040D12;
    --darker: #183D3D;
    --lighter: #5C8374;
    --lightest: #93B1A6;
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--darker);
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
