/* Palette: https://colorhunt.co/palette/040d12183d3d5c837493b1a6 */

:root {
    --darkest: 4, 13, 18;       /* #040D12 */
    --darker: 24, 61, 61;       /* #183D3D */
    --lighter: 92, 131, 116;    /* #5C8374 */
    --lightest: 147, 177, 166;  /* #93B1A6 */
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(var(--darker));
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.5em;
}

label {
    display: block;
    font-size: 1em;
}

input[type=text] {
    font-size: 0.9em;
    border: solid 5px transparent;
    width: 80%;
    padding: 5px;
}

input[type=text]:focus {
    border-color: green;
}

input {
    margin-bottom: 30px;
}